In [1]:
#Importing depending libraries to read csv files
from pandas.io.parsers.readers import read_csv
import sqlite3
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#importing csv to google colab
from google.colab import files
uploaded = files.upload()

In [4]:
#Reading the files uploades with the read csv methods
df1 = pd.read_csv("theater.csv")
df2 = pd.read_csv("movies.csv")
df3 = pd.read_csv("movieshow.csv")
df4 = pd.read_csv("tickets.csv")
df5 = pd.read_csv("promotions.csv")

In [5]:
#Conneting a database
conn = sqlite3.connect("theater.db")

In [6]:
#Creating a cursor objectobject to point to the database
cursor = conn.cursor()

In [ ]:
#write the data to a sqlite table theater
df1.to_sql('theater', conn, if_exists='append', index = False)

In [ ]:
#show table theater
print(df1)

In [ ]:

conn.execute('''SELECT * FROM theater''').fetchall()

In [ ]:
#write the data to a sqlite table movies
df2.to_sql('movies', conn, if_exists='append', index = False)

In [ ]:
#show table movies
print(df2)

In [ ]:
conn.execute('''SELECT * FROM movies''').fetchall()

In [ ]:
#write the data to a sqlite table movieshow
df3.to_sql('movieshow', conn, if_exists='append', index = False)

In [ ]:
#show table movieshow
print(df3)

In [ ]:
conn.execute('''SELECT * FROM movieshow''').fetchall()

In [ ]:
#write the data to a sqlite table tickets
df4.to_sql('tickets', conn, if_exists='append', index = False)

In [ ]:
#show table tickets
print(df4)

In [ ]:
conn.execute('''SELECT * FROM tickets''').fetchall()

In [ ]:
#write the data to a sqlite table promotions
df5.to_sql('promotions', conn, if_exists='append', index = False)

In [ ]:
#show table promotions
print(df5)

In [ ]:
conn.execute('''SELECT * FROM promotions''').fetchall()

In [22]:
#join the table movieshow and theater
cursor.execute('''SELECT * FROM movieshow s NATURAL JOIN theater''')
dfst=cursor.fetchall()

In [ ]:
print(dfst)

In [ ]:
dfst

In [25]:
#join the table movieshow and movies
cursor.execute('''SELECT * FROM movieshow NATURAL JOIN movies''')
dfsm=cursor.fetchall()

In [ ]:
print(dfsm)

In [ ]:
dfsm

In [28]:
#join the table tickets and movieshow
cursor.execute('''SELECT * FROM tickets NATURAL JOIN movieshow''')
dfts=cursor.fetchall()

In [ ]:
print(dfts)

In [ ]:
dfts

In [33]:
#join the table tickets and promotions
cursor.execute('''SELECT * FROM tickets NATURAL JOIN promotions''')
dftp=cursor.fetchall()

In [ ]:
print(dftp)

In [ ]:
dftp

In [ ]:
#update the prices of tickets purchased with a 30% discount
cursor.execute("UPDATE tickets SET Price = Price - (Price * 0.3) WHERE PromoID=2")

In [ ]:
conn.commit()

In [ ]:
#Tickets purchased with the 30% discount
cursor.execute("SELECT * FROM tickets WHERE PromoID=2")
promo2 = cursor.fetchall()
print(promo2)

In [ ]:
promo2

In [ ]:
#update the prices of tickets purchased with a 50% discount
cursor.execute("UPDATE tickets SET Price = Price - (Price * 0.5) WHERE PromoID=3")

In [ ]:
conn.commit()

In [ ]:
#tickets purchased with the 50% discount
cursor.execute("SELECT * FROM tickets WHERE PromoID=3")
promo3 = cursor.fetchall()
print(promo3)

In [ ]:
promo3

In [ ]:
#Times CREED III was shown
cursor.execute("SELECT Title FROM movies LEFT JOIN movieshow ON movies.MovieID = movieshow.MovieID WHERE Title IS 'Creed III';")
creedshow = cursor.fetchall()
print(creedshow)

In [ ]:
#Times a movie was shown
cursor.execute("SELECT Title, COUNT(MovieID) AS QTD FROM movies NATURAL JOIN movieshow GROUP BY Title HAVING COUNT(MovieID) > 1;")
titleshow = cursor.fetchall()
print(titleshow)

In [ ]:
titleshow

In [ ]:
#Total raised from ticket sales
cursor.execute("SELECT SUM(Price) FROM tickets")
total = cursor.fetchall()
print(total)

In [ ]:
#Total collected from ticket sales with 30% discount
cursor.execute("SELECT SUM(Price - ((Price * 30) / 100)) FROM tickets WHERE PromoID=2")
totprom2 = cursor.fetchall()
print(totprom2)

In [ ]:
#Total collected from ticket sales with 50% discount
cursor.execute("SELECT SUM(Price - ((Price * 50) / 100)) FROM tickets WHERE PromoID=3")
totprom3 = cursor.fetchall()
print(totprom3)

In [ ]:
#Total collected from ticket sales without discount
cursor.execute("SELECT SUM(Price) FROM tickets WHERE PromoID=1")
totprom1 = cursor.fetchall()
print(totprom1)

In [ ]:
#What is the promo that sold the least?
cursor.execute("SELECT Promo FROM promotions NATURAL JOIN tickets GROUP BY Promo ORDER BY COUNT(Promo) ASC LIMIT 1;")
tickpromo = cursor.fetchall()
print(tickpromo)

In [ ]:
#What is the least watched movie?
cursor.execute("SELECT Title FROM movies NATURAL JOIN movieshow GROUP BY Title ORDER BY COUNT(Title) ASC LIMIT 1;")
titlevisto = cursor.fetchall()
print(titlevisto)

In [ ]:
#What is the most watched movie?
cursor.execute("SELECT Title FROM movies NATURAL JOIN movieshow GROUP BY Title ORDER BY COUNT(Title) DESC LIMIT 1;")
titmaisvisto = cursor.fetchall()
print(titmaisvisto)

In [ ]:
#Top three movies
cursor.execute("SELECT Title FROM movies NATURAL JOIN movieshow GROUP BY Title ORDER BY COUNT(Title) DESC LIMIT 3;")
topmovies = cursor.fetchall()
print(topmovies)

In [ ]:
#What is the preferred genre?
cursor.execute("SELECT Category FROM movies NATURAL JOIN movieshow GROUP BY Category ORDER BY COUNT(Category) DESC LIMIT 2;")
category = cursor.fetchall()
print(category)

In [ ]:
#What is the prefer time?
cursor.execute("SELECT Time FROM movies NATURAL JOIN movieshow GROUP BY Time ORDER BY COUNT(Time) DESC LIMIT 1;")
time = cursor.fetchall()
print(time)

In [ ]:
#Number of movies by category
cursor.execute("SELECT Category, COUNT(MovieID) AS QTD FROM movies NATURAL JOIN movieshow GROUP BY Category HAViNG COUNT(MovieID) > 1 ;")
catmov = cursor.fetchall()
print(catmov)

In [ ]:
catmov

In [ ]:
#What is the prefer movietheater?
cursor.execute("SELECT ScreenType FROM theater NATURAL JOIN movieshow GROUP BY ScreenType ORDER BY COUNT(ScreenType) DESC LIMIT 4;")
scrtype = cursor.fetchall()
print(scrtype)

In [39]:
cursor.close()
conn.close()